<!DOCTYPE html>
<html>

<head>
	<title>Mail Template</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body style="background-color: #F9F9F9;  font-family: sans-serif;">
	<center>
		<img src="https://raoinformationtechnology.com/theme/images/raoinfotech-logo.png" height="40px" width="90px"
			style="position: fixed;left: 0px;right: 0px; margin: auto;top: 35px;">
	</center>
	<div style="width: 500px; margin: auto; background-color: white; top: 100px; position: fixed;left: 0;right: 0;box-shadow: 0px 0px 20px lightgray">

		<div style="background-image: url(https://1f58eb32.ngrok.io/bg-img.png); background-repeat: no-repeat;background-size: cover;background-color: #3998c51c; padding: 15px 0px">
			<h6 style="margin: 0px;color: #181123;font-size: 20px;text-align: center"><b>Hello, {{name}} </b></h6>

			<div style="margin-left:30px;padding:0;">
				<p style="font-size:15px;">You, or someone else, requested an new password for this account on Tripion
					Project.</p>
				<p style="font-size:15px;">You can reset your password using given link below. When you do nothing, your
					password or account will not change.</p>
				<a href={{ link }}> 
					<p style="font-size:15px;cursor:pointer;">CONFIRM YOUR EMAIL</p>
				</a>
			</div>
		</div>
	</div>
</body>

</html>

